
/* backgrond */
body {
  background-image: url(background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* sfondo opaco */
#sfondo-nero{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2% 18% 25% ;
  padding: 5% 5% 7%;
  border-radius: 10px;
}

/* grandezza logo */
#logo{
  width: 22%;
  height: 22%;
}

/* caratteristiche titolo */
h1{
  color: #00CD00;
  margin-top: 0px;
  margin-bottom: 1px;
}

/* barra di prenotazione */
nav{
  background-color: #00CD00;
  line-height: 35px;
}

header, nav{
  text-align: center;
}

input, h2{
  display: inline;
}

section{
  margin-top: 20px;
}

/* simbolo freccina */
.freccia:before{
  content: "\21A6";
}

/* stato carica 1 */
#carica1{
  height: 20px;
  width: 40%;
  background-color: #FFA54F;
  border-radius: 5px;
}

/* stato carica 2 */
#carica2{
  height: 20px;
  width: 65%;
  background-color: #32CD32;
  border-radius: 5px;
}

/* stato carica 3 */
#carica3{
  height: 20px;
  width: 15%;
  background-color: #CD3333;
  border-radius: 5px;
}
